.produtos__section {
    background-color: var(--cor-primaria);
    background-image: none;
    color: var(--cor-secundaria);
}
.Produtos__produtos {
    background-color: var(--cor-secundaria);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Produtos__produtos__ancora {
    text-decoration: none;
    padding: 8em;
}
.Produtos__produtos__texto {
    font-family: var(--font-secundaria);
    color: var(--cor-primaria);
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-top: 0.5rem;
}
.img__produtos {
    border-radius: 10px;
    max-width: 200%;
}
.Produtos_home_ancora_site:hover {
    transform: scale(1.1);
}
@media (max-width: 768px){
    .Produtos__produtos__texto {
        font-size: 2em;
    }
}

@media (max-width: 430px) {
 .img__produtos {
    max-width: 150%;
 }
 .Produtos_home_ancora {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .Produtos__produtos__ancora {
    text-decoration: none;
    padding: 0;
    margin: auto;
    margin: 4em 0 4em 0;
}
}